/* SEÇÃO DA MAIN PADRÃO */
main {
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: column;
  place-self: center;
  justify-content: start;
  width: 90vw;
  max-width: 62.2rem;
  padding: 1rem 2rem;
  position: relative;
}
/*----------------------*/

/* SEÇÃO DO POPUP */
main #wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  place-content: center;
}

main #popup {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
  width: 80vw;
  max-width: 15rem;
  min-height: 3.5rem;
  border-radius: 12px;
}

main #popup i {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 18vw;
  max-width: 2rem;
  height: 18vh;
  max-height: 2rem;
  padding: 0.5rem;
  display: flex;
  place-content: center;
  align-items: center;
  clip-path: circle();
}
/*----------------*/

/* TÍTULO DA PÁGINA */
main h1 {
  margin-bottom: 2.4rem;
}

main h1.prettify-title::before {
  left: -2%;
}
/*------------------*/

/* FORMULÁRIO DA PÁGINA */
main form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  width: 90vw;
  max-width: 61.45rem;
}

main form fieldset {
  display: grid;
  border: none;
}

main form label {
  display: flex;
  flex-flow: column;
  margin-bottom: 0.5rem;
}

main form div {
  position: relative;
  display: flex;
}

main form fieldset div input,
main form fieldset div select {
  width: 39vw;
  max-width: 27rem;
  padding-left: 0.5rem;
  background-color: transparent;
  height: 2rem;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 8px;
  outline-color: var(--primary-color);
  outline-offset: 0.25rem;
  outline-width: 2px;
}

main form fieldset div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

main form div i {
  position: absolute;
  color: var(--primary-color);
  z-index: 1;
  top: 30%;
  left: 85%;
}

#form-buttons {
  display: flex;
  margin-top: 1.5rem;
  gap: 3rem;
}
/*----------------------*/

@media (max-width: 985px) {
  main form div i {
    top: 20%;
  }
}

/* ESTILIZAÇÃO PARA TELAS MENORES QUE 697 PX */
@media (max-width: 697px) {
  main {
    padding: 1rem 0.75rem;
  }

  main h1 {
    place-self: center;
  }

  main form {
    grid-template-columns: 1fr;
    place-self: center;
    place-items: center;
  }

  main form fieldset div input,
  main form fieldset div select {
    width: 89vw;
  }

  #form-buttons {
    flex-flow: column;
    justify-content: normal;
    gap: 1rem;
  }

  main form div i {
    left: 93%;
  }
}
/*-------------------------------------------*/

/* ESTILIZAÇÃO PARA TELAS MENORES QUE 269 PX */
@media (max-width: 300px) {
  main form div i {
    left: 89%;
    top: 27%;
  }
}
/*-------------------------------------------*/

