main {
  width: 90%;
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: column;
  place-self: center;
  justify-content: start;
  padding: 1rem 2rem 8rem;
  position: relative;
}

#exercises-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  width: 100%;
}

#exercises-list li a {
  display: grid;
  width: 15rem;
  height: 15rem;
}

#exercises-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

#exercises-list li h2 {
  color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#exercises-list li p {
  color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#exercises-list .text-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;

}

#exercises-list a {
  position: relative;
}

@media (max-width: 991px) {
  #exercises-list {
    grid-gap: 1.5rem;
  }
}
