main {
  width: 90%;
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: column;
  place-self: center;
  align-items: center;
  justify-content: start;
  padding: 1rem 2rem 8rem;
  position: relative;
}

#exercises-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4.05rem;
  width: 90vw;
  max-width: 58.5rem;
  max-height: 45rem;
}


#exercises-list li a {
  display: grid;
  width: 260px;
  height: 260px;
}

#exercises-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

#exercises-list li h2 {
  color: var(--inverted-text-color);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 170px;
}


#exercises-list li p {
  color: var(--inverted-text-color);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#exercises-list li #card-1 h2 {
  margin-right: 100px;
}

#exercises-list li #card-1 p {
  margin-right: 30px;
  padding-bottom: 40px;
}

#exercises-list li #card-2 h2 {
  margin-right: 5px;
}

#exercises-list li #card-2 p {
  margin-left: 13px;
  padding-bottom: 40px;
}




#exercises-list .text-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;

}

#exercises-list a {
  position: relative;
}



@media (max-width: 991px) {
  #exercises-list {
    grid-gap: 1.5rem;
  }
}
