/* HEADER */
#header {
  z-index: 100;
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 1rem 2.75rem 0.3rem;
  align-items: center;
  justify-content: space-between;
  height: clamp(5.25rem, 2.25vh, 17rem);
  background-color: var(--primary-bg-color);
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
}
/*--------*/

/* MENU */
#header menu button {
  outline-color: var(--primary-color);
  outline-offset: 0.5rem;
  outline-width: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#header menu button .fa-bars {
  font-size: 1.75rem;
  transition: color 0.2s;
}

#header menu button .fa-bars:hover {
  color: #334155;
}
/*------*/

/* OPÇÕES */
#header ul {
  display: none; 
}
/*--------*/

/* IMAGEM DA LOGO */
#header a img {
  margin-right: 3.75rem;
  width: clamp(10rem, 10.28vw, 11.45rem);
  height: clamp(3.5rem, 5.275vh, 5.6475rem);
}
/*----------------*/

/* BOTÃO ESPECIAL */
#header ul li#exercise-button {
  border-bottom: none;
  display: grid;
  place-content: center;
  background-color: var(--primary-color);
  border-radius: 12px;
  width: clamp(15rem, 19.5vw, 17.5rem);
  height: clamp(2.5rem, 2.5vh, 3.75rem);
  color: white;
  transition: background-color 0.2s;
}

#header ul li#exercise-button:hover {
  background-color: var(--on-hover-primary-color);
  cursor: pointer;
}

#header ul li#exercise-button a:hover {
  color: white;
}
/*----------------*/

/* MEDIA RULES */
@media (max-width: 348px) {
  #header a img {
    margin: 0;
  }
  #header {
    padding: 1rem 1rem 0.3rem;
  }
}

@media (min-width: 985px) {
  #header {
    justify-content: center;
  }

  #header menu {
    display: none;
  }

  #header ul {
    display: flex;
    align-items: center;
    gap: 3.75rem;
  }

  #header ul li {
    text-align: center;
    min-width: 5rem;
  }

  #header ul li a {
    transition: color 0.2s;
  }

  #header ul li a:hover {
    color: #334155;
  }
}
/*-------------*/
